<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${parts[0].name} + '!'" />
<table>
    <th:block th:each="part : ${parts}">
        <tr>
            <td th:text="${part.name}">...</td>
            <td th:text="${part.need ? 'да' : 'нет'}">...</td>
            <td th:text="${part.count}">...</td>
        </tr>
        <tr>
            <td colspan="2" th:text="${part}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>